.nice-font {
  font-family: 'Open Sans Condensed', sans-serif;
}

.enormous {
  font-size: 800%;
}

.capitalise {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.lower {
  margin-top: 1em;
}
